html {
  scroll-behavior:smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:black;
}

p {
  color: #2c2c2c;
}

/* .header a {
  text-decoration: none;
  color:black;
} */

.container {
  margin:0 10vw;
  display:flex;
}


.header {
  z-index:0;
  position:fixed;
  width:100%;
  top:0px;
  padding:2vh 0;
  border-bottom:solid 2px #ddd;
  background:#fff;
}

.header h3 {
margin:0 0 0 10px;
line-height: 46px;
}

.logo a{
  display: flex;
  vertical-align:middle;
}

.logo i {
height:46px;
line-height:46px;

}

.menu {
  display:flex;
  margin:0 0 0 auto;

}

.menu p {
  margin:0;
  font-size:10px;
}

i {
  font-size:20px;
  /* vertical-align: middle; */
}
.post, .favoriteList,.account {
  display:block;
  text-align: center;
  padding:3px 30px;
}

.searchBox {
  background:#E4E7F5;
  width:150px;
  height:40px;
  line-height: 40px;
  padding:3px;
  border-radius: 3px;
  color: #6e6e6e;

}

.searchBox i {
  margin:0 10px;
}

.searchInputBox {
  margin:100px 0 20px;
}



.searchInputBox input {
  border: 1px solid #3f51b5;
  padding:10px;
  width:85%;
  line-height: 32px;;
}

.searchInputBox button {
  width:15%;
  margin-left:15px;
  border: 1px solid #3f51b5;
  background:#3f51b5;
  color:#fff;
  /* opacity:0.9; */
  cursor:pointer;

}

.serchInputBox button :hover {
  opacity:0.8;
}

/* モーダルウィンドゥ */
.modal {
  display:none;
  height: 100vh;
  position:fixed;
  top:0;
  left:0;
  width:100%;
}

.modal a:hover {
  /* background:#eebbc3;
  border-radius: 4px;
  padding:6px; */
}

.modal_bg {
  background: rgba(0,0,0,0);
  height:100vh;
  position: absolute;
  width:100%;
}


.modal_content {
  z-index: 1;
  background: #fff;
  position:absolute;
  right:0;
  top:-100px;
  width:100%;
  padding:20px 60px 60px;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.25);
  text-align: right;
}

.flex {
  display:flex;

}

.closeX:before {
  content: "clear";
  font-family: 'Material Icons';
  color: #3f51b5;
  vertical-align: middle;
  font-size: 22px;
}

.closeX {
  margin-bottom:10px;

}





.contentsColumn {
  background:#F2F2F2;
  padding:15vh 0 0;
}
.spot, .reviewContent {
  background:#F2F2F2;
  padding:5vh 0;
}

.contentsColumn  a:hover{
  text-decoration:underline;
}

.wrap {
  margin:0 10vw;
  padding:5vh 2vw;
  background:#fff;
}

.content {
  display: flex;
  border-bottom:solid 1px #ddd;
  padding:2vh;
}
.searchTitle {
  border-bottom:solid 2px #ddd;

}

.contentLeft {
  width:40%;
}

.contentLeft a:hover {
  opacity:0.8;
}
.contentLeft img {
  max-width:100%;
}

.contentRight p {
  /* margin:0; */
}
.contentRight {
  margin-left:10px;
}

.contentRight h3 {
  margin-top:10px;
}

.rating {
  color:#3f51b5;
}

.more {
    padding:15px 0 0;
}

/* spot.html */
.spot {
  /* z-index:2; */
}

.spot  a:hover{
  text-decoration:underline;
}

.spotWrap {
  margin:10vh 10vw 0;
  /* padding:5vh 2vw; */
  background:#fff;
}
.address, .businessHours, .official {
  display: flex;
}

.spotDataLeft {
  width:40%;
}


.spotDataRight {
  width:60%;
}


.spotDataRight img {
  max-width:100%;
  height: 550px;
  object-fit: cover;
  z-index:0;
}


.spotDataLeft {
  margin-right:20px;
}

.spotDataLeft h1 {
margin:0;
}

.spotDataLeft h2 {
margin:0;
}

.overview p {
  font-size:0.8rem;
  margin-top:0;

}

.overview h5 {
  margin-bottom:0;
}

.address p,.businessHours p,.official p {
  margin:0 0 5px 10px;
}

.spotContent {
  display: flex;
  padding:2vh;
}

.spotDataRight {
  position: relative;
}

.toGallery {
  position: absolute;
  bottom:15px;
  left:10px;
  color:#fff;
}

.toFullsize:hover{
opacity:0.9;
}


.toGallery:hover {
  text-decoration: underline;
}

/* 口コミ検索パート */
.reviewFilterWrap {
  margin:0 10vw;
  padding:5vh 2vw;
  background:#fff;
}

.filterPart {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;

}


.reviewFilter {
  background:#F2F2F2;
  /* padding:5vh 0; */
}

.ratingItem {
  display: block;
  margin-bottom:5px;
}

.checkbox {
  display: none;
}


.checkbox + .checkboxIcon:before {
  content: "check_box_outline_blank";
  font-family: 'Material Icons';
  color: #767676;
  vertical-align: middle;
  font-size: 22px;
  margin-right:5px;
}
.checkbox:checked + .checkboxIcon:before {
  content: "check_box";
  color: #3f51b5;
}


.reviewFilterTitle {
  border-bottom:solid 1px #ddd;
  padding:1vh;
  display: flex;
}


.reviewFilterTitle h3 {
  margin:0;
}

.reviewFilterTitle span {
  font-size:0.7rem;
  font-weight:normal;
}

.reviewPost {
  text-align: center;
}

.reviewPost a {
  display: inline-block;
  border-radius: 3px;
  margin:0 auto;
  padding:6px 15px;
  color: #fff;
  background-color: #3f51b5;
}

.reviewPost a:hover {
  text-decoration: none;
  opacity:0.8;
}

/* 口コミパート */
.reviewContentWrap {
  margin:0 10vw;
  padding:1vh 0vw;
  background:#fff;
  border:solid 1px #ddd;
}



.reviewer {
  padding:0 1rem;
}

.reviewer span {
  font-weight: normal;
}

.reviewparts {
  background:#f9f9f9;;
  padding:1rem;
}


.reviewpartsUpper .rating {
  margin:0;
}
.reviewpartsUpper p {
  margin-top:0;
}

.reviewpartsBottom p {
  margin-top:0;
}
.reviewTitle  {
  margin-bottom:5px;
}

.reviewCard {
  border-bottom:dotted 1px #ddd;
  padding:2vh 0;
  margin-bottom:5px;
}

.reviewContent  a:hover{
  text-decoration:underline;
}

.reviewpartsPic  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reviewpartsPic img {
  max-width:100%;
  height: 200px;
  object-fit: cover;
}


/* reviewform.html */
.formRating h2 {
  margin:10px 10px;
}

.pleasePost {
  border-bottom: solid 2px #ddd;
}

.reviewformTitle input {
  width:100%;
  border: 1px solid #dbdad5;
  outline: none;
  padding: 8px;
  line-height: 1.5;
  color: #575757;
  border-radius: 10px;
  margin-bottom: 5px;
}

.reviewformTitle input:focus {
  border-color: #3f51b5;
}
.reviewformBody textarea:focus {
  border-color: #3f51b5;
}

.reviewformBody textarea {
  width:100%;
  border: 1px solid #dbdad5;
    outline: none;
  padding: 8px;
  line-height: 1.5;
  color: #575757;
  border-radius: 10px;
  margin-bottom: 5px;
  height:150px;
}

.reviewformSpot {
  display: flex;
}

.reviewformImage {
  /* width: 30%; */
}
.reviewformImage img {
  max-width:100%;
  height: 100px;
  object-fit: cover;
}


.reviewformWrap {
  margin:15vh 15vw 0;
  padding:5vh 2vw;
  background:#fff;
}

.reviewformSpotTitle {
  margin-left:30px;
}

.required {
  color:orangered;
  padding:0 3px;
  font-weight:normal;
  margin:0 5px;
}

.reviewformItem  {
  margin-bottom:60px;
}

.reviewformItem h4 {
  margin-bottom:10px;
}

.reviewformVisitTerm select {
  outline: none;
  padding:4px;
  line-height: 1.5;
}
.reviewformVisitTerm select:focus {
  border-color: #3f51b5;
}

.radio {
  display: none;
}


.radio + .radioIcon:before {
  content: "radio_button_unchecked";
  font-family: 'Material Icons';
  color: #767676;
  vertical-align: middle;
  font-size: 22px;
  margin-right:5px;
}
.radio:checked + .radioIcon:before {
  content: "radio_button_checked";
  color: #3f51b5;
}

.radioIcon {
  margin-right:20px;
}


.reviewformConfirm {
  text-align: center;
}

.reviewformConfirm a {
  display: inline-block;
  border-radius: 3px;
  margin:0 auto;
  padding:6px 15px;
  color: #fff;
  background-color: #3f51b5;
}

.reviewformConfirm a:hover {
  text-decoration: none;
  opacity:0.8;
}

/* フォームのモーダルウィンドゥ */
.modalForm {
  display:none;
  height: 100vh;
  position:fixed;
  top:0;
  left:0;
  width:100%;
}

.modal_bgForm {
  background: rgba(0,0,0,0.7);
  height:100vh;
  position: absolute;
  width:100%;
}


.modal_contentForm {
  background: #fff;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:60%;
  padding:40px;
}
.modal_contentForm a {
  color:#fff;
}

.formConfirm {
  display:flex;
  border-bottom:solid 2px #ddd;
}

.formConfirm a {
  margin: 0 0 0 auto;
}


/* フッター */
.footer {
  background: #F2F2F2;
  /* margin: 0 10vw; */
  padding: 5vh 5vw;
  display: flex;
  justify-content: space-around;
}

.footer .logo p {
  margin-top:0;
  font-size:0.8rem;
}
.footer .sns p {
  margin-top:0;
}
.footer .logo h3 {
  margin-bottom:5px;
  margin-top:0;
}

.companyInfo p {
  margin:0;
  font-size:0.9rem;
}

.companyInfo h4 {
  margin:0;
}

.snsLogos {
  display: flex;
  justify-content: space-around;
}

.snsLogo i {
  font-size:2rem;
}


.link  {
  font-size:0.8rem;
  display: flex;

}
.link :hover {
text-decoration: underline
;}


